.jump-nav {
    font-size: 20px;
    width: 170px;
    height: 30;
    background-color: #fefefe;
    position: fixed;
}

body {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: solid lightgray 1px;
    width: 450px;
    height: 125%;
    box-shadow: 10px 10px rgb(235, 235, 235);
    margin: 10px;
    padding: 20px;
}

P {
    text-align: left;

}


img {
    width: 300px;
}

.image {

    margin: 20px;
    padding: auto;
}

.card__content {
    box-shadow: 10px 10px 20px grey;
    background-color: whitesmoke;
    border: solid lightgray 1px;
    font-size: 15px;
    margin: 10px;
    padding: 5%;
}

h1 {
    font-size: 30px;
    text-align: center;
    width: 200px;
    margin: 20px;
    padding: auto;
    background-color: lightgray;

}